<% if user_signed_in? %>
  <div class="events-container">
    <div class="events-box">
      <h2>Past Events</h2>
      <ul>
        <% @events&.each do |event| %>
          <% if event&.event_date < Date.today %>
            <li>
              <strong><%= link_to event.title, event_path(event) %></strong>
              <p><%= event.description %></p>
              <p>Event Date: <%= event.event_date %></p>
              <% if @current_user.id == event.creator_id %>
                <%= button_to "Delete Event", event_path(event), method: :delete, data: { confirm: "Are you sure you want to delete this event?" }, class: "delete-event-button" %>
              <% end %>
            </li><br/><br/>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="events-box">
      <h2>Upcoming Events</h2>
      <ul>
        <% @events&.each do |event| %>
          <% if event&.event_date >= Date.today %>
            <li>
              <strong><%= link_to event.title, event_path(event) %></strong>
              <p><%= event.description %></p>
              <p>Event Date: <%= event.event_date %></p>
              <% if @current_user.id == event.creator_id %>
                <%= button_to "Delete Event", event_path(event), method: :delete, data: { confirm: "Are you sure you want to delete this event?" }, class: "delete-event-button" %>
              <% end %>
            </li><br/><br/>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
