<%= form_with(model: @event, local: true) do |form| %>
  <%= form.hidden_field :authenticity_token, value: form_authenticity_token %>

  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title, id: "event_title" %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description, id: "event_description" %>
  </div>

  <div>
    <%= form.label :event_date %><br>
    <%= form.date_field :event_date, id: "event_event_date" %>
  </div>

  <%= form.hidden_field :creator_id, value: @current_user.id %>

  <div>
    <%= form.submit form.object.new_record? ? 'Create Event' : 'Update Event', data: { disable_with: form.object.new_record? ? 'Creating Event...' : 'Updating Event...' } %>
  </div>
<% end %>
