<div class="container mt-4">
  <div class="text-center">
    <h3 class="mb-4">Events</h3>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title mb-3">Upcoming Events</h5>
          <% @upcoming_events.each do |event| %>
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title"><%= event.title %></h5>
                <p class="card-text"><%= event.description %></p>
                <p class="card-text"><small class="text-muted">Event Date: <%= event.event_date %></small></p>
                <a href="<%= event_path(event) %>" class="btn btn-primary">View Event</a>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-3">Past Events</h5>
          <% @past_events.each do |event| %>
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title"><%= event.title %></h5>
                <p class="card-text"><%= event.description %></p>
                <p class="card-text"><small class="text-muted">Event Date: <%= event.event_date %></small></p>
                <a href="<%= event_path(event) %>" class="btn btn-primary">View Event</a>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
