<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %><br/>
  <%= link_to "My Events", user_path(@current_user) %>
<% else %>
  <%= link_to "Sign in", new_user_session_path %>
<% end %>

<ul>
  <li>
    <h4>Event</h4>
    <strong><%= @event.title %></strong>
    <p><%= @event.description %></p>
    <p>Event Date: <%= @event.event_date %></p>
    <% if @event_joined.empty? %>
      <%= form_with url: event_event_attendees_path(@event), method: :post do %>
        <%= submit_tag 'Join Event', class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  </li><br/><br/>
  <li>
    <strong>Attendees:</strong>
    <% if @attendees.any? %>
      <ul>
        <% @attendees.each do |attendee| %>
          <li><%= attendee.email %></li>
        <% end %>
      </ul>
    <% else %>
      <p>No attendees yet.</p>
    <% end %>
  </li>
</ul>
