<ul>
  <li>
    <h4>Event</h4>
    <strong><%= @event.title %></strong>
    <p><%= @event.description %></p>
    <p>Event Date: <%= @event.event_date %></p>
    <% if @event_joined.empty? %>
      <%= form_with url: event_event_attendees_path(@event), method: :post do %>
        <%= submit_tag 'Join Event', class: 'btn btn-primary' %>
      <% end %>
    <% else %>
      <%= form_with url: event_event_attendee_path(@event, current_user), method: :delete do %>
        <%= submit_tag 'Leave Event', class: 'btn btn-danger' %>
      <% end %>
    <% end %>
  </li><br/><br/>
  <li>
    <strong>Attendees:</strong>
    <% if @attendees.any? %>
      <ul>
        <% @attendees.each do |attendee| %>
          <li><%= attendee.email %></li>
        <% end %>
      </ul>
    <% else %>
      <p>No attendees yet.</p>
    <% end %>
  </li>
</ul>
